src/test/java/resources/RealCheck.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="receipts" type="rec:receiptsType" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
  <xs:complexType name="timeType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="totalType">
    <xs:sequence>
      <xs:element name="normalizedValue">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="137.86"/>
            <xs:enumeration value="7.00"/>
            <xs:enumeration value="5.00"/>
            <xs:enumeration value="8.00"/>
            <xs:enumeration value="17.00"/>
            <xs:enumeration value="12.00"/>
            <xs:enumeration value="24.00"/>
            <xs:enumeration value="23.00"/>
            <xs:enumeration value="9.00"/>
            <xs:enumeration value="10.00"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paymentType">
    <xs:sequence>
      <xs:element type="rec:valueType" name="value" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type"/>
  </xs:complexType>
  <xs:complexType name="zipType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="phoneType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemType">
    <xs:sequence>
      <xs:element type="rec:nameType" name="name" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:countType" name="count" minOccurs="0" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:totalType" name="total" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element name="recognizedText">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="
                    I Luchador 7.00
                "/>
            <xs:enumeration value="
                    I To Tell the Truth 5.00
                "/>
            <xs:enumeration value="
                    I Muskoka 7.00
                "/>
            <xs:enumeration value="
                    I Cornbread 8.00
                "/>
            <xs:enumeration value="
                    1 Foie Gras 17.00
                "/>
            <xs:enumeration value="
                    1 Gumbo 50C 12.00
                "/>
            <xs:enumeration value="
                    1 Pimpfish 24.00
                "/>
            <xs:enumeration value="
                    1 Steel head 23.00
                "/>
            <xs:enumeration value="
                    1 Carrot 9.00
                "/>
            <xs:enumeration value="
                    1 Rice Pudding 10.00
                "/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="amountUnits"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="index" use="optional"/>
  </xs:complexType>
  <xs:complexType name="cityType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="vendorType">
    <xs:sequence>
      <xs:element type="rec:nameType" name="name" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:addressType" name="address" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:phoneType" name="phone" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="xs:string" name="purchaseType"/>
      <xs:element type="rec:cityType" name="city" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:zipType" name="zip" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addressType">
    <xs:sequence>
      <xs:element type="xs:string" name="text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="recognizedItemsType">
    <xs:sequence>
      <xs:element type="rec:itemType" name="item" maxOccurs="unbounded" minOccurs="0" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="count"/>
  </xs:complexType>
  <xs:complexType name="recognizedValueType">
    <xs:sequence>
      <xs:element type="xs:string" name="text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="subTotalType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receiptType">
    <xs:sequence>
      <xs:element type="rec:vendorType" name="vendor" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:dateType" name="date" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:timeType" name="time" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:subTotalType" name="subTotal" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:totalType" name="total" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:taxType" name="tax" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:paymentType" name="payment" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="rec:recognizedItemsType" name="recognizedItems" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element type="xs:string" name="recognizedText"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="currency"/>
  </xs:complexType>
  <xs:complexType name="countType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="taxType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="total"/>
  </xs:complexType>
  <xs:complexType name="dateType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nameType">
    <xs:sequence>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" minOccurs="0" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
      <xs:element name="text" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Luchador"/>
            <xs:enumeration value="To Tell the Truth"/>
            <xs:enumeration value="Muskoka"/>
            <xs:enumeration value="Cornbread"/>
            <xs:enumeration value="Foie Gras"/>
            <xs:enumeration value="Gumbo 50C"/>
            <xs:enumeration value="Pimpfish"/>
            <xs:enumeration value="Steel head"/>
            <xs:enumeration value="Carrot"/>
            <xs:enumeration value="Rice Pudding"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="valueType">
    <xs:sequence>
      <xs:element type="xs:string" name="normalizedValue"/>
      <xs:element type="rec:recognizedValueType" name="recognizedValue" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="receiptsType">
    <xs:sequence>
      <xs:element type="rec:receiptType" name="receipt" xmlns:rec="http://www.abbyy.com/ReceiptCaptureSDK_xml/ReceiptCapture-1.0.xsd"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="count"/>
  </xs:complexType>
</xs:schema>